.AddCharacter {
  background-color: white;
  width: 100%;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AddCharacter p {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: 600;
  color: #e72b30;
}
.addCharacter__inputs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.addCharacter__inputs-div input{
  width: 500px;
  height: 50px;
  border: 1px solid #151515;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.addCharacter__inputs-div input:last-child{
  margin-bottom: 0rem;
}
.addCharacter__inputs-div input:focus {
  border: 2px solid #e72b30;
  outline: none;
}

.AddCharacter button {
  width: 9rem;
  height: 3rem;
  border: none;
  background-color: #e72b30;
  outline: none;
  clip-path: polygon(12% 0, 100% 0, 100% 70%, 88% 100%, 0% 100%, 0% 30%);
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
